[Unit]
Description=HOOBSD
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/hoobsd hub
Restart=always
RestartSec=3
KillMode=process

[Install]
WantedBy=multi-user.target
